body {
    -moz-transform: scale(0.8, 0.8);
    zoom: 0.8;
    zoom: 80%;

}




.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  text-align: center;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://cdn1.eveonline.com/www/newssystem/media/67574/1/Space.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-image:url('http://wallpoper.com/images/00/44/99/91/planets-universe-17_00449991.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.learn-more a {
  color: #FFF;
}

.learn-more p {
  color: #FFF;
}

.news h2 {
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  font-size: 47px; 
  text-align: center;

}

.col-md-8 {
  margin-top: 10px;
  
}

.thumbnail a{

  color: #5a5a5a;
  font-size: 25px;
  font-weight: bold;
  text-align: center;

}

.modal-footer {   

border-top: 0px;

 }

.bottom-w {

  background-image: url('http://cdn1.eveonline.com/www/newssystem/media/67574/1/Space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-w  h3{
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
}

.bottom-w  p{
color: #fff;
font-size: 16px;

  
}

.navbar{

margin: auto;

}

body{
    overflow-x: hidden;

}

.modal-body p{

margin: auto;
text-align: center;
font-size: 20px;

}

.input-group {

margin-top: 13px;


}

.form-control {

text-align: left;
font-size: 14px;

}

.input {


color: #fff;
font-size: 10px;
}

.modal-body {
  background-image:url('http://7-themes.com/data_images/out/47/6932033-space-background-25628.jpg');
  background-repeat: no-repeat;
  background-size: cover;


}

.modal-body label{color: #fff;}

.modal-body h1{color: #fff;}

.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 25px;
   background-image: url('http://findicons.com/files/icons/2232/wireframe_mono/48/bug.png');
     background-repeat: no-repeat;
  background-size: cover;
}

.feedback{position: fixed;
}

.feedback textarea{height: 180px; }
.feedback .screenshot{ position: relative; top: -24px; right: 10px; opacity: .6; }
.feedback .screenshot:hover{  opacity: 1}
.feedback .reported p, .feedback .failed p  { height: 190px;  }


.feedback.left{left:5px; bottom:15px}
.feedback.right{right:5px; bottom:15px}

.feedback .dropdown-menu{width: 290px;height: 320px;bottom: 50px;}
.feedback.left .dropdown-menu{ left: 0px}
.feedback.right .dropdown-menu{ right: 0px}
.feedback .hideme{ display: none}

.form-group p {

color: #F52B2B;


}
